
{% extends 'base.html' %}
{% load static %}

<style>
    .card-img-top{
        max-height: 210px;
    }
</style>

{% block conteudo %}

<div class="row justify-content-between">

    <div class="col-md-4 col-xl-3">
        <div class="card">
        <img  class="card-img-top"  src="{% static 'app/produtos.png' %}" alt="Produtos">
         <div class="card-body">
            <h5 class="card-title">Produtos</h5>
            <p class="card-text">Cadastre e consulte seus produtos.</p>
            <a class="btn btn-primary" href="{% url 'listar_produtos' %}">Acessar</a>
          </div>
        </div>
    </div>

        <div class="col-md-4 col-xl-3">
        <div class="card">
        <img  class="card-img-top"  src="{% static 'app/cliente.png' %}" alt="Clientes">
         <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Cadastre e consulte seus clientes.</p>
            <a class="btn btn-primary" href="{% url 'listar_cliente' %}">Acessar</a>
          </div>
        </div>
    </div>

        <div class="col-md-4 col-xl-3">
        <div class="card">
        <img  class="card-img-top"  src="{% static 'app/venda.png' %}" alt="Vendas">
         <div class="card-body">
            <h5 class="card-title">Vendas</h5>
            <p class="card-text">Realize suas vendas.</p>
            <a class="btn btn-primary" href="{% url 'listar_venda' %}">Acessar</a>
          </div>
        </div>
    </div>

</div>


{% endblock conteudo %}