{% extends 'base.html' %}

{% block conteudo %}
<div class="row">
    <div class="col-12">
        <a href="{% url 'cadastrar_venda' %}"><input type="button" class="btn btn-primary mb-3" value="Cadastrar Nova Venda"></a>
    </div>
</div>

<div class="row">
    <div class="col-12 table-responsive">
        <table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cliente</th>
      <th scope="col">Data</th>
      <th scope="col">Editar / Apagar</th>
    </tr>
  </thead>
  <tbody>
    {% for venda in vendas %}
    <tr>
      <th scope="row">{{venda.id}}</th>
      <th scope="row">{{venda.cliente}}</th>
      <th scope="row">{{venda.data_venda}}</th>
      <td>
          <a href="{% url 'editar_venda' venda.id %}"><input type="button" class="btn btn-sm btn-primary" value="Alterar"></a>
          &nbsp;&nbsp;
          <a href="{% url 'remover_venda' venda.id %}"><input type="button" class="btn btn-sm btn-danger" value="Apagar"></a>
      </td>
    </tr>
      {% endfor %}

  </tbody>
</table>

    </div>
</div>


{% endblock conteudo %}